<div class="container mt-4">
    <form action="/product/store" method="post">
        <h3>Nhập sản phẩm</h3>
        <div class="mb-3 mt-3">
            <label for="name">Name:</label>
            <input type="seacch" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="mb-3">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" placeholder="Enter price" name="price">
        </div>
        <div class="mb-3">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" id="quantity" placeholder="Enter quantity" name="quantity">
        </div>
        <div class="mb-3">
            <label for="desc">Description:</label>
            <input type="search" class="form-control" id="desc" placeholder="Enter describe" name="describe">
        </div>
        <div class="mb-3">
            <label for="image">Image:</label>
            <input type="search" class="form-control" id="image" placeholder="Enter image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Create Product</button>
    </form>
</div>