{{!--Button submit sẽ lấy các value của các key(thuộc tính "name") trong thẻ input và đưa vào thanh url
Ví dụ: http://localhost:3000/product?email=abc%40gmail.com&pswd=123&remember=on --}}
<div class="container mt-3">
    <h2>Stacked form</h2>
    <form method="post" action="">
        <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3">
            <label for="sex">Giới tính:</label>
            <select name="gender" class="form-select" id="sex">
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>